{% extends 'base.html' %}
{% block content %}
    <br>
    <br>
    <br>
        <div class="container" align="center">
            <div class="jumbotron">
            <h1>SignUp</h1><br>
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <h3>{{ form.username.label(class="float-left form-control-label") }}</h3> {{ form.username(class="form-control form-control-lg") }} <br>
                    <h3>{{ form.password.label(class="float-left form-control-label") }}</h3> {{ form.password(class="form-control form-control-lg") }} <br>
                    {{ form.submit(class="float-left btn btn-primary") }}
                    <br>
                </form>
            </div>
        </div>
{% endblock %}